@using Blogy.Business.DTOs.UserDtos
@model EditProfileDto
@{
    ViewData["Title"] = "Index";
}

<h3>Edit Profile Details</h3>

<div class="card text-center">
    <div class="card-title text-secondary">
        <h4>Profile Picture</h4>
    </div>
    <div class="card-body">
        <img src="@Model.ImageUrl" style="height:100px; width:100px" alt="Profile Picture" />
    </div>
</div>


<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">

            <label>Select Profile Picture</label>
            <input type="file" asp-for="ImageFile" class="form-control" />


            <label>Name:</label>
            <input type="text" asp-for="FirstName" class="form-control" required />
            <br />

            <label>Surname:</label>
            <input type="text" asp-for="LastName" class="form-control" required />
            <br />

            <label>User Name:</label>
            <input type="text" asp-for="UserName" class="form-control" required />
            <br />

        </div>

        <div class="col-6">
            <label>Email:</label>
            <input type="email" asp-for="Email" class="form-control" required />
            <br />

            <label>Title:</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />

            <label>Phone Number:</label>
            <input type="text" asp-for="FirstName" class="form-control" required />
            <br />

            <input type="hidden" asp-for="ImageUrl" />
            <br />
        </div>

        <div class="col-6">
            <label>Enter the current password in order to update informations</label>
            <input type="password" asp-for="CurrentPassword" class="form-control" required />

        </div>
        <br />
        <span class="text-danger">@Html.ValidationSummary()</span>

        <button class="btn btn-outline-dark">Update Profile</button>
    </div>

</form>
